
/* Estilo para o botão próximo */
#nextBtn {
  background-color: #007bff; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branca */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transição suave de cor */
}

#nextBtn:hover {
  background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

/* Estilo para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

/* Estilo para o conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
  width: 400px; /* Largura fixa */
  max-width: 90%; /* Largura máxima */
  text-align: center;
}

/* Estilo para o botão de fechar do modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}





/* Estilos para o navbar */
.navbar {
  background-color: #007bff; /* Cor de fundo azul marinho */
  color: rgb(255, 255, 255); /* Cor dos links azul claro */
  padding: 10px 0; /* Adiciona um pouco de espaço interno */
}

.navbar .container {
  display: flex;
  justify-content: center; /* Alinha os itens à direita */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px; /* Adiciona espaço entre os links */
}

.nav-links li:first-child {
  margin-left: 0; /* Remove a margem do primeiro link */
}

.nav-links li a {
  text-decoration: none;
  color: rgb(255, 255, 255); /* Cor dos links azul claro */
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Estilos para o card */
.card {
  background-color: #f0f0f0; /* Cor de fundo do card */
  width: 70%; /* Tamanho médio */
  margin: 50px auto; /* Centraliza o card e adiciona espaço acima e abaixo */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar .container {
    justify-content: center; /* Centraliza os links quando a tela é menor */
  }

  .card {
    width: 90%; /* Reduz o tamanho do card em telas menores */
  }
}
